/*Header and Footer
------------------------*/

header,
footer {
    background: #FF5291;
    color: #EDEDED;
}

/*Header*/

header h1,
header h2 {
    color: #EDF2F4;
    margin: 10px;
}

header {
    position: relative;
}

header h2 {
    padding-bottom: 10px;
}

.intro {
    margin: auto;
    padding: 10px;
}

img {
    float: left;
    height: 200px;
    padding: 10px;

}

.profile-img {
    border-radius: 50%;
    float: left;
}


nav {
    text-align: center;
    background: #6F7274;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

/*Footer*/

footer {
    text-align: center;
    font-size: 18px;
}

footer h2 {
    font-size: 60px;
}

.contactinfo a {
    margin: 10px;
    padding: 20px;
    display: inline-block;
}

.copyright {
    font-size: 12px;
    text-align: center;
    margin: 0;
}

/*Global styles
------------------------*/

html {
    box-sizing: border-box;
}

*,
*before,
*after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1,
h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 40px;
    margin-top: 0;
    line-height: 10px;
    padding-top: 40px;
}

h3 {
    font-size: 16x;
    font-weight: 900;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 20px;
}

.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px 50px;
    overflow: hidden;
}

.column-narrow {
    width: 30%;
    float: left;
    padding-right: 3%;
}

.column-wide {
    width: 62%;
    float: left;
}

.uppercase {
    text-transform: uppercase;
}

.btn {
    text-decoration: none;
    background: gray;
    color: white;
    padding: 10px;
    display: inline-block;
}

.download {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*Work Experience
------------------------*/

.work {
    background: #EDEDED;
    color: #494747;
}

h3 ~ p {
    margin: 0;
}

.job-description p:first-of-type {
    margin-top: 0;
    margin-bottom: 25px;
}

/*Education
-------------------------*/

.education {
    background: #EDEDED;
    color: #494747;
}

/*Extracurricular
--------------------------*/

.extracurricular {
    background: white;
    color: #494747;
}

/*Links
------------*/

a {
    color: #494747;
    font-weight: 600;
}

a:hover {
    /*removes underline from hyperlink*/
    text-decoration: none;
    color: white;
}

}

.linkedin {
    font-size: 15px;
}
